$color-primary: #5162ff;

$border: #f8f8f8;

.current {
  min-width: 50%;
  max-width: fit-content;
  margin: 10px auto;
  padding: 10px;
  border: $border solid 2px;
  background-color: $border;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  .current__balance {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
}

.advice {
  position: absolute;
  background-color: fade_out(#000000, 0.4);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  z-index: 10;
  .advice__inner {
    position: relative;
    margin: 30px;
    background-color: #ffffff;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    .advice__header {
      text-align: center;
      padding: 10px;
      border-bottom: $color-primary solid 1px;
    }

    .advice__body {
      padding: 15px;

      .advice__title {
        font-weight: 300;
        text-align: center;
      }

      .advice__intro, .advice__outro {
        display: block;
        padding: 5px;
        text-align: center;
      }

      .advice__text {
        display: block;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
      }

    }

    .advice__footer {
      position: absolute;
      width: 100%;
      text-align: center;
      padding: 10px;
      border-top: $color-primary solid 1px;
      bottom: 0;
    }
  }

}